NODE_ENV

DATABASE_NAME
DATABASE_HOST
DATABASE_PORT
DATABASE_USERNAME
DATABASE_PASSWORD


JWT_SECRET
#whole number as it is converted to hours 
JWT_SECRET_TIME 

MAIL_HOST
MAIL_USERNAME
MAIL_PASSWORD
MAIL_ADDRESS

REDIS_HOST
REDIS_PORT