<p>Hey {{name}},</p>
<p>Please click below to confirm your email</p>
<p>
  <button><a href='{{url}}'>Confirm</a></button>
</p>
<p>
  Or copy
  {{url}}
  and paste it
</p>
<p>If you did not request this email, you can safely ignore it.</p>